@model IEnumerable<Store.Models.Basket>

@{
    ViewData["Title"] = "Basket";
    int uid = (int)ViewData["UserID"];
}

<h1>Goods</h1>

<form asp-action="PlaceOrder" asp-controller="Basket" asp-antiforgery="true" id="placeOrder" method="post"></form>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Good.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Good.Articul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Good.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Good.GoodType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Good.Producer.Name)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input name="@item.ID" type="checkbox" form="placeOrder" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Good.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Good.Articul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Good.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Good.GoodType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Good.Producer.Name)
                </td>
                <td>
                    <form asp-controller="Basket" asp-antiforgery="true">
                        <div class="row">
                            <button type="submit" class="btn btn-primary mb-2 col-4" asp-action="MinusCount">-</button>
                            <input type="hidden" value="@item.ID" name="id" />
                            <input type="number" class="form-control col-4" value="@item.GoodCount" disabled />
                            <button type="submit" class="btn btn-primary mb-2 col-4" asp-action="PlusCount">+</button>
                        </div>
                    </form>
                </td>
                <td>
                    <form asp-action="Delete" asp-controller="Basket" asp-antiforgery="true">
                        <div class="row">
                            <input type="hidden" value="@item.ID" name="id" />
                            <button type="submit" class="btn btn-danger mb-2">Delete</button>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="row container">
    <select name="deliveryMethod" asp-items="ViewBag.DeviveryMethods" form="placeOrder" class="col-9"></select>
    <button type="submit" class="btn btn-primary mb-2 col-3" form="placeOrder">Place Order</button>
</div>

